MainBot/sample_config.py
MainBot/*.session
MainBot/*.session-journal
MainBot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
MainBot/modules/helper_funcs/temp.txt
start-3.6.bat
*.session
venv
env
.env
MainBot.session-journal
MainBot.session
updates.txt
*.exe